#root {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 1rem;
}

.search-bar {
  display: flex;
  flex-direction: row;
  /* width: 70%; */
  gap: 1rem;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

section {
  border: 1px solid;
  padding: 1rem;
}
